{% extends 'reservas/base.html' %}
{% block title %}Reservar Espacio{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Reservar {{ espacio.nombre }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="fecha_reserva">Fecha de Reserva:</label>
                <input type="date" id="fecha_reserva" name="fecha_reserva" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="bloques_horarios">Bloques de Horario:</label>
                <select id="bloques_horarios" name="bloques_horarios" class="form-control" multiple required>
                    {% for bloque in bloques_horarios %}
                        <option value="{{ bloque }}">{{ bloque }}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="text-muted">Presiona Ctrl (Cmd en Mac) para seleccionar varios bloques.</p>
            
            <div class="form-group">
                <label for="cantidad_personas">Cantidad de Personas (Capacidad restante: {{ capacidad_restante }}):</label>
                <input type="number" id="cantidad_personas" name="cantidad_personas" class="form-control"
                       min="1" max="{{ capacidad_restante }}" required>
            </div>                       
            <button type="submit" class="btn btn-success">Reservar</button>
        </form>
    </div>
</div>
{% endblock %}
