{% extends 'reservas/base.html' %}

{% block title %}Mis Reservas{% endblock %}

{% block content %}
<h2 class="mb-4">Mis Reservas</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Espacio</th>
            <th>Fecha</th>
            <th>Bloques Reservados</th>
            <th>Cantidad de Personas</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.usuario.username }}</td>
                <td>{{ reserva.espacio.nombre }}</td>
                <td>{{ reserva.fecha_reserva }}</td>
                <td>
                    {% for bloque in reserva.bloques_seleccionados %}
                        {{ bloque }}<br>
                    {% endfor %}
                </td>
                <td>{{ reserva.cantidad_personas }}</td>                              
                <td>{{ reserva.estado }}</td>
                <td>
                    {% if user.is_staff %}
                        <a href="{% url 'editar_reserva' reserva.id %}" class="btn btn-outline-secondary btn-sm">Editar</a>
                    {% endif %}
                    <a href="{% url 'eliminar_reserva' reserva.id %}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
